{
  "Urls": "https://localhost:5001;http://localhost:5000",
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information",
      "Microsoft.AspNetCore.SignalR": "Debug",
      "Microsoft.AspNetCore.Http.Connections": "Debug",
      "Dievas.Services.TelestaffBackgroundService": "Trace"
    },
    "Console": {
      "LogLevel": {
        "Dievas.Services.TelestaffBackgroundService": "Trace"
      }
    }
  },
  "ConnectionStrings": {
    "CAD_Reporting": "Server=localhost;Database=Reporting_System;Trusted_Connection=True;"
  },
  "SwaggerEndpoint": "/swagger/v1/swagger.json",
  "AllowedHosts": "*",
  "Origins": "http://localhost:8080",
  "NWS": {
    "Url": "https://api.weather.gov/",
    "ForecastEndpoint": "gridpoints/LWX/96,66/forecast",
    "User-agent": "(Dievas, local-dev)",
    "UpdateIntervalMinutes": 15,
    "AllowInvalidCertificates": false
  },
  "Telestaff": {
    "Url": "https://example.com",
    "User-agent": "(Dievas, local-dev)",
    "TimeFormat": "yyyy-MM-dd",
    "UpdateIntervalMinutes": 15,
    "ExpirationTimeInMinutes": 15,
    "Username": "",
    "Password": "",
    "AllowInvalidCertificates": false
  },
  "TestHarness": {
    "Enabled": false,
    "Url": "https://example.com/api/",
    "User-agent": "(Dievas, local-dev)",
    "AllowInvalidCertificates": false
  }
}
